@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.header-top {
  background-color: #0282f9;
  text-align: right;
  height: 20px;
  color: white;
}
.header-top .fake-select {
  font-size: 12px;
  cursor: pointer;
}
.header-top .fake-select i {
  padding-left: 5px;
}
.header-top .visa-content {
  font-size: 12px;
  cursor: pointer;
  padding-right: 50px;
}

.header-bottom {
  height: 100px;
}
.header-bottom .container {
  display: flex;
  align-items: center;
  height: 100%;
}
.header-bottom .menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.header-bottom .menu .logo-dc {
  width: 70px;
  height: 70px;
  vertical-align: middle;
}
.header-bottom .menu .manu-ul {
  display: flex;
}
.header-bottom .menu .manu-ul li {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  color: #525960;
  line-height: 64px;
  padding: 15px;
  cursor: pointer;
}
.header-bottom .menu .manu-ul li i {
  color: #0282f9;
  font-size: 12px;
  padding-left: 5px;
}
.header-bottom .menu .manu-ul li.current {
  color: #2789f9;
  border-bottom: 1px solid #2789f9;
  border-bottom-width: 6px;
}
.header-bottom .search-bar {
  border-bottom: 2px solid #0282f9;
}
.header-bottom .search-bar input {
  border: none;
  width: 120px;
  text-align: right;
  font-family: inherit;
  font-size: 17px;
  padding-right: 10px;
  background-color: transparent;
  resize: none;
  outline: none;
}

.jumbotron-image {
  height: 400px;
}
.jumbotron-image img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

main .products-list {
  position: relative;
  background-color: #1c1c1c;
  color: white;
  padding: 20px 0 30px;
}
main .products-list .current-series {
  font-size: 25px;
  font-weight: 600;
  position: absolute;
  padding: 10px 35px;
  bottom: calc(100% - 25px);
  left: 15%;
  font-size: 25px;
  background-color: #0082f9;
  font-stretch: condensed;
}
main .products-list h2 {
  color: #0282f9;
  text-transform: uppercase;
}
main .products-list .product-cards-wrapper {
  display: flex;
  flex-wrap: wrap;
}
main .products-list .product-cards-wrapper .product-card {
  margin: 18px;
  width: calc(16.6666666667% - 36px);
}
main .products-list .product-cards-wrapper .product-card img {
  height: 185px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  margin: 20px 0;
}
main .products-list .product-cards-wrapper .product-card h3 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
}
main .center-margin {
  text-align: center;
}
main .center-margin .load-more-btn {
  background-color: #0082f9;
  padding: 10px 55px;
  font-size: 14px;
  font-weight: bold;
}

.cta {
  height: 150px;
  background-color: #0082f9;
}
.cta .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.cta .content-cta {
  display: flex;
  align-items: center;
  color: white;
}
.cta .content-cta img {
  width: 55px;
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
}
.cta .content-cta span {
  padding: 0 10px;
  font-size: 15px;
  font-weight: 100;
  text-transform: uppercase;
  cursor: pointer;
}

.footer-top {
  background-image: url("../images/footer-bg.jpg");
  background-size: cover;
  color: #949494;
  font-size: 12px;
}
.footer-top .container {
  position: relative;
  padding-bottom: 30px;
}
.footer-top .container .footer-menu {
  padding: 50px 0 10px;
  position: relative;
  z-index: 1;
  width: 30%;
  display: flex;
  justify-content: space-between;
}
.footer-top .container .footer-menu li {
  padding: 3px 0;
}
.footer-top .container .footer-menu .ul-section {
  color: white;
  font-size: 21px;
  font-weight: 700;
  padding: 10px 0;
}
.footer-top .container div.bg-img {
  height: 388px;
  width: 540px;
  background-image: url("../images/dc-logo-bg.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  right: 0;
  top: 0;
}
.footer-top .container .blue {
  color: #0282f9;
}

.footer-bottom {
  background-color: #303030;
  padding: 30px 0;
}
.footer-bottom .container {
  display: flex;
  justify-content: space-between;
}
.footer-bottom .btn {
  border: 2px solid #0082f9;
  padding: 15px;
  color: white;
  font-weight: 600;
  font-size: 16px;
}
.footer-bottom ul {
  display: flex;
  align-items: center;
}
.footer-bottom ul .text {
  font-size: 21px;
  font-weight: 900;
  color: #0082f9;
}
.footer-bottom ul li {
  padding: 0 10px;
}
.footer-bottom ul li img {
  width: 35px;
  height: 35px;
}

.product-item .item-image-box {
  height: 80px;
  background-color: #0282f9;
  position: relative;
}
.product-item .item-image-box .comics-container {
  width: 200px;
  position: absolute;
  left: 420px;
  bottom: 15px;
  border: 1px solid white;
}
.product-item .item-image-box .comics-container .comic-desc {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00a9d9;
  padding: 2px 4px;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
}
.product-item .item-image-box .comics-container .view-gallery {
  background-color: #00a9d9;
  padding: 2px 4px;
  color: white;
  width: 100%;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
}
.product-item .product-description {
  width: 56%;
  margin: 0 auto;
  display: flex;
  padding-block: 60px;
}
.product-item .product-description .descpition-section {
  width: 70%;
  padding-right: 40px;
}
.product-item .product-description .descpition-section h1 {
  color: #003f5e;
  text-transform: uppercase;
  font-size: 26px;
}
.product-item .product-description .descpition-section .check-box {
  margin-block: 20px;
  display: flex;
}
.product-item .product-description .descpition-section .check-box .price-box {
  display: flex;
  width: 70%;
  justify-content: space-between;
  padding: 15px 10px;
  background-color: #55ba59;
}
.product-item .product-description .descpition-section .check-box .aviability {
  border-left: 1px solid black;
  background-color: #55ba59;
  padding: 15px 20px;
  align-self: center;
}
.product-item .product-description .descpition-section .check-box .aviability i {
  font-size: 12px;
  padding-left: 5px;
}
.product-item .product-description .descpition-section .comic-description {
  line-height: 24px;
  font-size: 15px;
  color: #525960;
}
.product-item .product-description .descpition-image h2 {
  text-transform: uppercase;
  text-align: right;
  font-size: 16px;
  color: #525960;
}

.color-light {
  color: #bafd8b;
}

.color-white {
  color: white;
}

.product-info-bg {
  background-color: #f6f6f6;
  border-top: 1px solid #e8e8e8;
}
.product-info-bg .product-info {
  width: 56%;
  margin: 0 auto;
  padding-block: 20px 130px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.product-info-bg .product-info .col-width {
  width: 48%;
}
.product-info-bg .product-info .col-width-small {
  width: 30%;
}
.product-info-bg .product-info .col-width-big {
  width: 70%;
}
.product-info-bg .product-info .art-description {
  display: flex;
  padding-block: 8px;
  border-bottom: 1px solid #e8e8e8;
  flex-wrap: wrap;
}
.product-info-bg .product-info h3 {
  padding-bottom: 26px;
  border-bottom: 1px solid #e8e8e8;
  font-size: 20px;
  color: #003f5e;
}

.color-primary {
  color: #003f5e;
}

.color-secondary {
  color: #0282f9;
}

.text-upper {
  text-transform: uppercase;
}

.cta-content {
  background-color: #f6f6f6;
  border-top: 1px solid #e8e8e8;
}
.cta-content .cta-container {
  display: flex;
  justify-content: center;
}
.cta-content .cta-container .cta-col {
  width: 14%;
  border-right: 1px solid #e8e8e8;
  padding: 15px 15px;
  display: flex;
  justify-content: space-between;
}
.cta-content .cta-container .cta-col span {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #8c8c8c;
}
.cta-content .cta-container .cta-col .image-box1 {
  width: 40px;
  height: 44px;
  background-image: url("../images/cta-icons.png");
  background-repeat: no-repeat;
  background-size: 180px;
  background-position: 0 0;
}
.cta-content .cta-container .cta-col .image-box2 {
  width: 48px;
  height: 45px;
  background-image: url("../images/cta-icons.png");
  background-repeat: no-repeat;
  background-size: 180px;
  background-position: -44px 0;
}
.cta-content .cta-container .cta-col .image-box3 {
  width: 36px;
  height: 44px;
  background-image: url("../images/cta-icons.png");
  background-repeat: no-repeat;
  background-size: 180px;
  background-position: -90px 0;
}
.cta-content .cta-container .cta-col .image-box4 {
  width: 36px;
  height: 45px;
  background-image: url("../images/cta-icons.png");
  background-repeat: no-repeat;
  background-size: 180px;
  background-position: -135px 0;
}
.cta-content .cta-container .border-left {
  border-left: 1px solid #e8e8e8;
}