.product-item{

  .item-image-box{
    height: 80px;
    background-color: $main_color;
    position: relative;

    .comics-container{
      width: 200px;
      position: absolute;
      left: 420px;
      bottom: 15px;
      border: 1px solid white;

      .comic-desc{
        position: absolute;
        top: 0;
        left: 0;
        background-color: #00a9d9;
        padding: 2px 4px;
        color: white;
        font-size: 12px;
        text-transform: uppercase;
      }

      .view-gallery{
        background-color: #00a9d9;
        padding: 2px 4px;
        color: white;
        width: 100%;
        text-align: center;
        font-size: 12px;
        text-transform: uppercase;
      }
    }
  }

  .product-description{
    width: 56%;
    margin: 0 auto;
    display: flex;
    padding-block: 60px;
    
    .descpition-section{
      width: 70%;
      padding-right: 40px;

      h1{
        color: #003f5e;
        text-transform: uppercase;
        font-size: 26px;
      }

      .check-box{
        margin-block: 20px;        
        display: flex;
        
        .price-box{
          display: flex;
          width: 70%;
          justify-content: space-between;
          padding: 15px 10px;
          background-color: #55ba59;
        }

        .aviability{
          border-left: 1px solid black;
          background-color: #55ba59;
          padding: 15px 20px;
          align-self: center;
          
          i{
            font-size: 12px;
            padding-left: 5px;
          }
        }
      }

      .comic-description{
        line-height: 24px;
        font-size: 15px;
        color: $brand_secondary_color;
      }
    }

    .descpition-image{
      
      h2{
        text-transform: uppercase;
        text-align: right;
        font-size: 16px;
        color: $brand_secondary_color;
      }
    }
  }
}

.color-light{
  color: #bafd8b;
}
.color-white{
  color: white;
}