.product-item{

  .item-image-box{
    height: 80px;
    background-color: $main_color;
    position: relative;

    .comics-container{
      width: 200px;
      position: absolute;
      left: 420px;
      bottom: 15px;
      border: 1px solid white;

      .comic-desc{
        position: absolute;
        top: 0;
        left: 0;
        background-color: #00a9d9;
        padding: 2px 4px;
        color: white;
        font-size: 12px;
        text-transform: uppercase;
      }

      .view-gallery{
        background-color: #00a9d9;
        padding: 2px 4px;
        color: white;
        width: 100%;
        text-align: center;
        font-size: 12px;
        text-transform: uppercase;
      }
    }
  }

  .product-description{
    
    .descpition-section{
      width: 70%;
    }
  }
  
  
}